
<div class="wrapper--outer">
  <div class="wrapper--inner">

    <div class="team-selection" *ngIf="isSelectionActive === true">
      <form class="team-form">

        <mat-form-field class="team-row team-selector" appearance="fill">
          <mat-label>Team</mat-label>
          <mat-select>
            <mat-option *ngFor="let team of teams" [value]="team.value">
              {{ team.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="team-row username" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Ex. Bob" />
        </mat-form-field>

        <button
          class="team-row"
          mat-flat-button
          color="primary"
          (click)="handleSelection()">Submit</button>

      </form>
    </div>

    <div class="buzzer" (click)="clickGreenBuzzer()">
      <img class="image" [class.active]="active === true" src="assets/images/buzzer-green.png" />
      <img class="image" [class.active]="active === false" src="assets/images/buzzer-red.png" />
    </div>
    
  </div>
</div>
