
<div class="wrapper">

  <div class="left-wrapper width-30">
    
    <mat-card class="card pale-yellow">
      <mat-card-title>Version</mat-card-title>
      <mat-card-content>
        {{ version }}
      </mat-card-content>
    </mat-card>

    <mat-card class="card pale-yellow">
      <mat-card-title>Teams</mat-card-title>
      <mat-card-content>
        <div class="display-info" *ngFor="let team of teams">
          <span class="block" [style.background-color]="team.color"></span>
          <span class="label">{{ team.title }}</span>
          <span class="label left-pad">({{ team.count }})</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Edit</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card pale-green">
      <mat-card-title>Links</mat-card-title>
      <mat-card-content>

        <div class="table">
          <div class="th">
            <div class="td">Link</div>
            <div class="td">Copy</div>
            <div class="td">Open</div>
          </div>

          <div class="tr" *ngFor="let page of pages">
            <div class="td">{{ page.title }}</div>
            <div class="td">
              <div class="clickable" (click)="copy(page.type)">
                <span>COPY</span>
                <mat-icon>content_copy</mat-icon>
              </div>
            </div>
            <div class="td">
              <div class="clickable" (click)="open(page.type)">
                <span>OPEN</span>
                <mat-icon>open_in_new</mat-icon>
              </div>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>

  <div class="right-wrapper width-70">
    <mat-form-field class="key-input" appearance="fill" color="primary">
      <mat-label>PieSocket Key</mat-label>
      <input matInput placeholder="enter key" [(ngModel)]="key" (ngModelChange)="term$.next($event)" />
    </mat-form-field>
  </div>

</div>
