
<div class="wrapper">

  <div class="left-wrapper width-30">
    
    <mat-card class="card pale-yellow">
      <mat-card-title>Teams</mat-card-title>
      <mat-card-content>
        <div class="link" *ngFor="let team of teams">
          <span class="label">{{ team.title }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Edit</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card pale-green">
      <mat-card-title>Links</mat-card-title>
      <mat-card-content>
        <div class="link" (click)="openDisplay()">
          <span class="label">
            Go to ...
          </span>
          <span class="highlight">
            <span>Display</span>
            <mat-icon>content_copy</mat-icon>
          </span>
        </div>
        <div class="link" (click)="openDiagnostics()">
          <span class="label">
            Go to ...
          </span>
          <span class="highlight">
            <span>Diagnostics</span>
            <mat-icon>open_in_new</mat-icon>
          </span>
        </div>
        <div class="link" (click)="copyBuzzer()">
          <span class="label">
            Copy Link for ...
          </span>
          <span class="highlight">
            <span>Buzzers</span>
            <mat-icon>content_copy</mat-icon>
          </span>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="right-wrapper width-70">
    <mat-form-field class="key-input" appearance="fill" color="primary">
      <mat-label>PieSocket Key</mat-label>
      <input matInput placeholder="enter key" [(ngModel)]="key" (ngModelChange)="term$.next($event)" />
    </mat-form-field>
  </div>

</div>
