
@use '@angular/material' as mat;

@include mat.core();

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-label {
  color: #444 !important;
}

.mat-form-field-underline::before {
  background-color: #444 !important;
} 

.mat-form-field-ripple {
  background-color: #444 !important;;
}
