
<div class="wrapper">
  
  <div class="left-wrapper width-70">
    LEFT
  </div>
  
  <div class="right-wrapper width-30">
  
    <mat-card class="card pale-yellow">
      <mat-card-title>Teams</mat-card-title>
      <mat-card-content>
        <div class="display-info" *ngFor="let team of teams">
          <span class="block" [style.background-color]="team.color"></span>
          <span class="label">{{ team.title }}</span>
        </div>

        <div class="content">
          <img class="logo" src="assets/images/eddie-color.png" alt="eddie, thumbs up" />
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
