
<div class="wrapper">
  
  <div class="left-wrapper width-70">
    <mat-card class="card pale-green">
      <mat-card-title>Results</mat-card-title>
      <mat-card-content>

        <ng-container *ngIf="individuals.length === 0">
          <div>Waiting ...</div>
        </ng-container>

        <ng-container *ngIf="individuals.length > 0">
          
          <div class="table">
            <div class="th">
              <div class="td">Team</div>
              <div class="td">Name</div>
              <div class="td">Time</div>
            </div>

            <div class="tr" *ngFor="let individual of individuals">
              <div class="td">{{ getTeam(individual.team) }}</div>
              <div class="td">{{ individual.username }}</div>
              <div class="td">{{ getLocalTime(individual.time) }}</div>
            </div>
          </div>

        </ng-container>

      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="right-wrapper width-30">
  
    <mat-card class="card pale-yellow">
      <mat-card-title>Teams</mat-card-title>
      <mat-card-content>
        <div class="display-info" *ngFor="let team of teams">
          <span class="block" [style.background-color]="team.color"></span>
          <span class="label">{{ team.title }}</span>
        </div>

        <div class="content">
          <img class="logo" src="assets/images/eddie-color.png" alt="eddie, thumbs up" />
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
